/* Base styles */
:root {
  --background-color: #ffffff;
  --background-color-active: #f0f8ff;
  --text-color: #000000;
  --border-color: #007aff;
  --highlight-background: #e6f7ff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Dark Mode Variables */
body.dark-mode {
  --background-color: #121212;
  --background-color-active: #1c1c1c;
  --text-color: #e0e0e0;
  --border-color: #0a84ff;
  --highlight-background: #2a2a2a;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: contain;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  scroll-behavior: contain;
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 0 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-active);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: inherit; /* Use a neutral or default color */
  text-decoration: none; /* Reset or keep it consistent */
}

.header .description {
  border-color: var(--border-color);
}

.nav-menu {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 30vw;
}

/* Drop-down list */
.dropdown {
  position: relative;
  display: inline-block;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Adds spacing between title and arrow */
}

.form-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14vw;
  padding: 5px 20px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  cursor: pointer;
}

.form-dropdown-toggle[aria-expanded='true'] {
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}

.dropdown-menu {
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% -1px); /* Fix 1px misalignment because reasons I do not know  */
  z-index: 1000;
  overflow-y: auto;
  right: 0;
  left: 0;
}

.dropdown-menu li {
  font-size: 12px;
  padding: 10px 20px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}

.dropdown-menu li:hover {
  background-color: var(--highlight-background);
}

.dropdown-menu.hidden {
  display: none;
}

.dropdown-menu.visible {
  display: block;
}

.objective {
  background-color: var(--background-color);
  padding: 10vh 50% 10vh 10vh;
  font-size: 1.5rem;
  background-image: url('https://docs-assets.developer.apple.com/published/74dae374b75b16020b940ff403c60d43/10010H~dark@2x.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

a.eyebrow {
  text-decoration: none;
  color: inherit;
}

a.eyebrow:hover {
  text-decoration: underline;
}

/* Wrapper for Side-by-Side Layout */
.content-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 20px;
  justify-content: center;
  max-width: auto;
  padding: 0 10vh 10vh 0;
}

.step {
  /* padding-top: 20vh; /* Make first section appears after nav bar */
  margin: 20vh 5vh 10vh 5vh;
  /* margin-bottom: 10vh; */
  /* margin-right: 5vh; */
}

/* Static Image Container */
.image-container {
  display: flex;
  flex: 2; /* Makes the image container take smaller part of the layout */
  position: sticky;
  top: 0;
  height: calc(100dvh - 10vh); /* 10vh is the height of the nav bar */
  width: 50dvh;
  padding: 10vh 10vh 10vh 10vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-active);
  overflow: hidden;
}

.image-container.hidden {
  display: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  /* max-height: 100%; */
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
}

.image.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

/* Description Section */
.descriptions {
  flex: 1; /* Makes the descriptions section take two parts of the layout */
  padding: 0;
  position: relative;
  margin-bottom: 83vh;
  descriptions: 40%;
}

/* Highlight for Active Description */
.description {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  border-left: 8px solid transparent;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.5s ease, background-color 0.5s ease;
}

.description.active {
  border-color: var(--border-color);
  background-color: var(--background-color-active);
}

/* Section customization */
#overview {
  font-size: 1.5rem;
  margin: 0;
  padding: 10vh 50% 10vh 10vh;
  position: relative;
  color: #fff;
  background-image: url('https://docs-assets.developer.apple.com/published/fb8a3ef2d00880b8b789c05f9926aaf9/100H00.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#overview .content {
  margin-left: 40px; /* margin left for content only*/
}

/* Dark Mode Button */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Prevents text wrapping */
}
.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.color-scheme-toggle {
  display: inline-flex;
  gap: 0;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background: transparent;
  overflow: hidden;
  padding-block: 0.1rem;
  padding-inline: 0rem;
}

.color-scheme-toggle label {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.color-scheme-toggle input {
  display: none; /* Hide the default radio button */
}

.color-scheme-toggle input:checked + .text {
  background-color: var(--border-color); /* Highlighted background */
  color: var(--background-color); /* Highlighted text color */
}

.color-scheme-toggle input:not(:checked) + .text:hover {
  background-color: rgba(0, 122, 255, 0.1); /* Subtle hover effect */
}

.color-scheme-toggle .text {
  padding: 0.1rem 0.5rem;
  border-radius: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
  /* border: 1px solid var(--border-color); */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.color-scheme-toggle input:checked + .text {
  background-color: var(--border-color);
  color: var(--background-color);
  border-color: var(--border-color);
  border-radius: 12px;
}

